importFrom("stats", "runif")
importFrom("utils", "download.file", "read.csv")
importFrom("seewave", "cutw")
importFrom("tuneR", "readWave")
importFrom("DrupalR", "drupalr.authenticate", "drupalr.get", "drupalr.postComment")
import("foreach")
import("RCurl")

export("bioacoustica.downloadDemoData")
export("bioacoustica.collectionMetadata")
export("bioacoustica.collectionDownload")
export("bioacoustica.collectionAnalyse")
export("bioacoustica.postTrait")
export("bioacoustica.getOrthopteraNamesNoSubgenus")
export("bioacoustica.voiceData")
export("bioacoustica.britishOrthoptera")
export("bioacoustica.authenticate")
export("bioacoustica.call")
export("bioacoustica.listTypes")
export("bioacoustica.listTaxa")
export("bioacoustica.listTraits")
export("bioacoustica.listCollections")
export("bioacoustica.getAnnotations")
export("bioacoustica.listRecordings")
export("bioacoustica.getAnnotationFile")
export("bioacoustica.getAllAnnotationFiles")
export("bioacoustica.postAnnotation")
