exportPattern("^[[:alpha:]]+")
importFrom("stats", "runif")
importFrom("utils", "download.file", "read.csv")
importFrom("seewave", "cutw")
importFrom("tuneR", "readWave")
importFrom("DrupalR", "drupalr.authenticate", "drupalr.get", "drupalr.postComment")
import("foreach")
import("RCurl")
